.user_img {
  border-radius: 50%;
}
.com_reactions {
  margin-right: 1%;
}
.com_reactions_num {
  font-size: 0.7em;
  font-weight: bold;
  margin-top: 25% !important;
  position: relative;
}
.com_liked {
  color: black;
  height: 0.8rem;
  cursor: pointer;
}

.com_unliked {
  height: 0.8rem;
  color: gray;
  cursor: pointer;
}

//Comments blocked

.comments_blocked {
  float: right;
  h1 {
    font-size: 1rem;
    cursor: pointer;
    color: #007bff;
    margin-left: -5%;
    transition: 0.3s;
    &:hover {
      margin-left: 0%;
      transition: 0.3s;
    }
  }
}

//Author 

.author_badge {
  display: flex;
  color: white;
  background: rgb(148, 148, 148);
  width: fit-content;
  font-weight: 500;
  border-radius: 5%;
  padding: 0.5%;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  gap: 5%;
  align-items: center;
  align-content: center;

  .crown_icon {
    height: 0.6rem !important;
    width: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
  }
}

.comment_box_btns{
  display: flex;
  gap: 2.5%;
  float: right;
  button{
    padding: 5%;
  }
  button.cancel_btn{
    background-color: white !important;
    border: 1px solid gray !important;
    color: gray !important;
    font-weight: 400 !important;
    border-radius: 2px !important;
  }
}