.user_img {
  border-radius: 50%;
}
.com_reactions {
  margin-right: 1%;
}
.com_reactions_num {
  font-size: 0.7em;
  font-weight: bold;
  margin-top: 25% !important;
  position: relative;
}
.com_liked {
  color: black;
  height: 0.8rem;
  cursor: pointer;
}

.com_unliked {
  height: 0.8rem;
  color: gray;
  cursor: pointer;
}

//Comments blocked

.comments_blocked {
  float: right;
  h1 {
    font-size: 1rem;
    cursor: pointer;
    color: #007bff;
    margin-left: -5%;
    transition: 0.3s;
    &:hover {
      margin-left: 0%;
      transition: 0.3s;
    }
  }
}
