/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*News Letter*/

.news_letter_wrapper {
  display: grid;
  grid-template-columns: 65% 20%;
  background: white;
  border-radius: 1%;
  box-shadow: 12px solid red;
  color: black;
  margin: 2.5%;
}
.news_left {
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin: 5%;
}
.news_left_p {
  color: rgb(155, 155, 155);
  font-size: 1em;
}
.news_left_form_button {
  color: white;
  border-color: #6c63ff;
  outline: none;
  background: #6c63ff;
}
.news_left_form_button::focus {
  outline: none;
}
.news_left_form_input {
  border-color: #6c63ff;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
.news_left_form_input::focus {
  outline: none;
}
.news_right {
  margin: 5%;
  width: 90%;
  height: 90%;
}

@media screen and (max-width: 480px) {
  .news_right {
    display: none;
  }
  .news_left_form {
    margin-top: 1rem;
  }
  .news_letter_wrapper {
    grid-template-columns: 1fr;
  }
  .news_right {
    display: none;
  }
}
