.spinner_container {
  position: absolute;
  top: 50%;
  left: 50%;
}
.search_spinner_container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

@media screen and (min-width: 740px) {
  .spinner {
    font-size: 3em !important;
  }
}
