.author_card_container {
  margin-top: 5%;
  .author_card {
    display: flex;
    width: 100%;
    border-top: 2px solid rgb(243, 242, 242);
    border-bottom: 2px solid rgb(243, 242, 242);
    padding: 5%;
    gap: 5%;
    .author_right {
      h1 {
        font-weight: 600;
        font-size: 1.1rem;
      }
      p {
        font-weight: 300;
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }
  }
}

.author_image {
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  &:hover {
    transform: rotateZ(45deg);
    transition: ease-in-out 0.3s;
  }
}

.follow_btn {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0.5% 4%;
  background-color: #4f9cee;
  border: none;
  color: white;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
  font-size: 0.8rem;
  margin: 0%;
  &:hover {
    transform: scale(1.025);
    transition: ease-in-out 0.3s;
  }
}

.follow_btn_link,
.follow_btn_link:hover,
.follow_btn_link:focus,
.follow_btn_link:active {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  .author_card_container {
    .author_card {
      h1 {
        margin: 0%;
      }
      p {
        font-size: 0.8rem;
        margin-bottom: 5px;
      }
    }
  }
}
