//BLOG LAYOUT

.blog_layout {
  max-width: 1050px !important;
}

//SIDE NAV

.side_nav {
  position: sticky;
  top: 0;
  height: 180vh;
}

@media screen and (max-width: 500px) {
  .side_nav {
    height: 225vh;
  }
}
