//BLOG LAYOUT

.blog_layout {
  max-width: 1300px !important;
  margin-top: 5rem;
  height: 300vh;
}
.blog_wrapper {
}

//SIDE NAV

.side_nav {
  position: sticky;
  top: 0;
  height: 180vh;
}

@media screen and (max-width: 500px) {
  .side_nav {
    height: 250vh;
  }
}
