.about_img {
  width: 300px;
  justify-self: center;
  :nth-child(1) {
    border-radius: 0.5rem;
  }
}
.skills_img {
  border-radius: 5px;
}
.resumeContainer {
  display: flex;
  justify-content: center;
  gap: 3%;
  align-items: center;
  background-color: var(--first-color);
  height: 4vh;
  width: 25%;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  color: white;
  border: 2px solid rgb(237, 232, 232);
  box-shadow: 0px 5px 5px var(--first-color);
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}

//services

/*===== SERVICES =====*/

.box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.our_services {
  margin-top: 75px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all 1 ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
  p {
    font-size: 1em;
  }
}
.icon {
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center;
}

.our_services:hover h6,
.our-services:hover p {
  color: #fff;
}
.speedup {
  background-color: white;
  transition: 1s;
  &:hover {
    cursor: pointer;
    background-color: #d40c54;
    transition: 1s;
    color: white;
  }
}
.settings {
  background-color: white;
  transition: 1s;
  &:hover {
    cursor: pointer;
    background-color: #5d3fd4;
    transition: 1s;
    color: white;
  }
}
.privacy {
  background-color: white;
  transition: 1s;
  &:hover {
    cursor: pointer;
    background-color: #2b69a3;
    transition: 1s;
    color: white;
  }
}
.backups {
  background-color: white;
  transition: 1s;
  &:hover {
    cursor: pointer;
    background-color: #e58a38;
    transition: 1s;
    color: white;
  }
}
.ssl {
  background-color: white;
  transition: 1s;
  &:hover {
    cursor: pointer;
    background-color: #5d4395;
    transition: 1s;
    color: white;
  }
}
.database {
  background-color: white;
  transition: 1s;
  &:hover {
    cursor: pointer;
    background-color: #25b478;
    transition: 1s;
    color: white;
  }
}
