.error {
  color: white;
  background-color: red;
}

.google-icon {
}

.googleAuthBtn {
  height: "25vh";
  width: "100%";
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: white;
  // box-shadow: 0px 0.5px 2.5px gray;
  border: 1px solid rgb(233, 230, 230);
  border-radius: 5px;
  gap: 5%;
  width: 100%;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  font-size: 1em;
  font-weight: 500;
  color: rgb(92, 89, 89);
}
.authBtn {
  border: none;
  width: 100%;
}
.orText {
  text-align: center;
  font-weight: 400;
  color: rgb(92, 89, 89);
  font-size: 1em;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.googleText {
  font-size: 1em;
}
.authLinksContainer {
  display: flex;
}
.authLinks {
  color: black;
  margin-top: -1.6rem;
  margin-bottom: 1.6rem;
  text-decoration: underline;
  font-size: 1em;
  width: 100%;
  a {
    text-decoration: underline;
    color: rgb(92, 89, 89);
  }
}
.authLinksLeft {
  text-align: left;
}
.authLinksRight {
  text-align: right;
}
