.category_header {
  font-size: 1.2em;
  margin-bottom: 3rem;
  font-family: "Poppins";

  span {
    letter-spacing: 10 !important;
    line-height: 1.8em;
  }
}
// .highlight {
//   color: yellow !important;
// }
