.profile_page {
  max-width: 1550px !important;
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
  min-height: 100vh;
}

.profile_img{
 border-radius: 10px;
}

// form designs 

.form_label{
  padding-top: 1% !important;
  font-weight: bolder;
  font-size: 1rem;
}