.cats_select {
  height: 3rem;
  border: none;
  // border-bottom: 2px solid var(--second-color);
  // padding: 0.2em;
  font-size: 1.2em;
  fill: black;
  color: var(--second-color);
  outline: none;
}
