.newsletter {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: 40px;
  margin-top: 4.5%;
  .input_container {
    height: 40px;
    input {
      height: 40px;
      width: 100%;
      background: #fff;
      color: #333;
      border: none;
      padding-left: 5%;
      outline: none;
      border-radius: 2px 0px 0px 2px;
    }
  }
  .btn_container {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      max-height: 40px;
      width: 100%;
      height: 3.18rem !important;
      border: none;
      background-color: var(--third-color);
      font-size: 1em;
      color: white;
      font-weight: bold;
      border-radius: 0px 2px 2px 0px;
    }
  }
}

@media only screen and (min-width: 748px) and (max-width: 1200px) {
  .newsletter {
    grid-template-columns: 60% 40%;
  }
  .input_container {
    input {
      font-size: 0.8em;
    }
  }
  .btn_container {
    button {
      font-size: 0.8em !important;
    }
  }
}

@media only screen and (max-width: 300px) {
  .input_container {
    input {
      font-size: 0.8em;
    }
  }
  .btn_container {
    button {
      font-size: 0.8em !important;
    }
  }
}
